* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2C5F7C;
    --secondary-color: #7b68ee;
    --text-color: #333333;
    --background-color: #D9E2E8;;
    --card-background: #fff;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
}

.hero {
    text-align: center;
    padding: 60px 0;
    background-color: var(--primary-color);
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-style: italic;
}

.hero p {
    font-style: italic;
    font-size: 1.2rem;
}

.section-intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;
    color: var(--text-color);
}

.card-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-background);
    flex: 1 1 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-section {
    padding: 40px 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--shadow);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.card h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.resources {
    text-align: center;
    gap: 1rem;
    color: var(--primary-color);
    font-size: medium;
}

.resources a {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.resources a:hover {
    background-color: var(--secondary-color);
}